*{
    margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	font-family: Arial, sans-serif;
}

/*header*/
.header{
  width: 100%;
  background: #0471F8;
  left: 0;
  top: 0;
  position: fixed;
}
.nav-header{
    color: #fff;
    height: 70px;
    border-bottom: 1px solid rgba(255,255,255, 0.1);
}
.contenedor-nav{
  display: flex;
  justify-content: space-between;
  height: inherit;
  padding: 5px;
}
.logo h1{
  font-size: 40px;
  color: #fff;
}
.links{
  padding: 5px;
}
.links a{
  text-decoration: none;
  color: #fff;
  font-size: 24px;
}
.links a:hover{
  color: yellow;
}
/*banner principal*/
.contenedor-sp{
  width: 100%;
  height: 260px;
  background-color: #fff;
  margin-top: 50px;
}
.imagen-t{
  width: 100%;
  max-height: 260px;

}
.titulo-sp{
    width: 100%;
    height: 50%;
    text-align: center;
}
.titulo-sp h2{
  font-size: 24px;
  margin: -150px;
  color: #fff;
}
.titulo-sp  .titulo-2:hover{
  font-size: 32px;
  color: yellow;
}
/*Quienes somos*/
.q-s{
  background-color: #0471F8;
  padding: 10px;
  margin-bottom: 20px;
}
.contenedor{
  width: 80%;
  background-color: #fe56;
  margin: 50px auto;
  overflow: hidden;
  border-radius: 10px;
}
/*Titulos principales*/
.titulo{
  font-size: 24px;
  margin: 20px;
}
.articulo-qs{
   width: 95%;
   margin-left: 20px;
   margin-bottom: 30px;

}
.p-qs{
  font-size: 14px;
  text-align: justify;
  padding-top: 30px;
}
/*Nuestros Proyectos*/
.n-p{
  background-color: #0471F8;
  padding: 10px;
  margin-bottom: 20px;
}
/*Articulos*/
.contenedor-articulo{
  display: flex;
  justify-content: space-evenly;
 }
.articulo{
  width: 30%;
  padding: 30px;
  overflow: hidden;
  background-color: #fe56;
  border-radius: 5px;
  margin-bottom: 20px;
}
.imagen-a{
  width: 100%;
  height: 200px;
  border-radius: 10px;
  margin-bottom: 5px;
}
.titulo-articulo{
  font-size: 24px;
  margin-bottom: 10px;
}
.tecto-articulo{
  font-size: 14px;
  text-align: justify;
}
/*Contacto*/
.contacto{
  background-color: #0471F8;
  padding: 10px;
  margin-bottom: 20px;
}
iframe{
  margin: 20px;
}
.contenedor-contacto{
  width: 50%;
  height: 300px;
  float: right;

  margin: 20px 40px;
}
ul{
  list-style: none;
}
li{
  font-size: 24px;
  padding: 30px;
}
li .icon_contacto{
  width: 10%;
	max-width:120px;
	padding: 5px;
	margin: -10px auto;
}
footer{
  width: 100%;
  height: 60px;
  background-color: #0471F8;
  padding: 20px;
}
p{
  font-size: 18px;
  text-align: center;
}
/*Adaptaciones a pantallas mas chicas*/
@media screen and (max-width: 900px) {

}
@media screen and (max-width: 700px) {

}
@media screen and (max-width: 500px) {

}
